@{
    ViewBag.Title = "Contact";
}

<link rel="stylesheet" href="~/vue/style.css">
<div id="app">
    <!-- we cann't do that as like react   <img src="{{picture}}">-->
    <!-- ALL ABOUT V-BIND -->
    <img v-bind:src="picture"
         :alt="`${firstName} ${lastName}`"
         :class="gender"><!--we don't need that curly braces{{}}-->
    <!-- Instead of V-bind we can only use : as like in the alt-->
    <h1>  I am {{firstName}} {{lastName}} </h1>
    <h2>Email-{{email}}</h2>
    <h2> Gender-{{gender}}</h2>
    <!-- ALL ABOUT V-ON -->



 <div class="list-inline">
        <button :class="gender"
                v-on:click="getUser1()">
            Siam
        </button>


   
        <button :class="gender"
                v-on:click="getUser2()">
            Rayhan
        </button>



        <button :class="gender"
                v-on:click="getUser()">
            Shorif
        </button>
 

        <button :class="gender "
                v-on:click="getUser3()">
            Noman
        </button>

     </div>
 





    <!--

    <p style="float: right; width: 130px">
        <button :class="gender"
                v-on:click="getUser1()">
            Siam
        </button>
    </p>

    <p style="float: right; width: 130px">
        <button :class="gender"
                v-on:click="getUser2()">
            Rayhan
        </button>
    </p>

    <p style="float: right; width: 130px">
        <button :class="gender"
                v-on:click="getUser()">
            Shorif
        </button>
    </p>

    <p style="float: right; width: 130px">
        <button :class="gender "
                v-on:click="getUser3()">
            Noman
        </button>
        </p>


        -->


</div>



<script src="https://unpkg.com/vue@next"></script>
<script src="~/vue/app.js"></script>