@{
    ViewBag.Title = "Home Page";
}

<h1>MAIN HOME PAGE</h1>
<p>
    Bootstrap 4 Flex - W3Schoolshttps://www.w3schools.com › bootstrap4 › bootstrap_flex
    Easily add auto margins to flex items with .mr-auto (push items to the right), or by using .ml-auto (push ... <div class="p-2 ml-auto bg-primary">Flex item 3</div>
    ‎Try it Yourself · ‎Try it · ‎Align Items Center · ‎Align Self Center

    Купить автозапчасти в интернет-магазине ML-Auto | Минск ...https://www.ml-auto.by
    Translate this page
    Не знаете в каком магазине Минска купить автозапчасти по приемлемым ценам? Тогда Вам нужно в интернет-магазин автозапчастей www.ml-auto.by.

    ML AUTO - Didžiausia automobilių estetikos centras Lietuvojehttps://mlauto.lt
    Translate this page
    Teikiame kompleksines automobilių priežiūros paslaugas - tai patogus centras Jūsų automobiliui... poliravimas, salonų valymas, lyginimas be dažymo...
    ‎Kontaktai · ‎Paslaugos · ‎Kėbulo poliravimas · ‎Rankine automobilių plovykla

    [ML]Cloud AutoML - Custom Machine Learning Models ...https://cloud.google.com › automl
    AutoML enables developers with limited machine learning expertise to train high-​quality models specific to their business needs. Build your own custom machine ...
</p>
<h2>
    запчасти в интернет-магазине ML-Auto | Минск ...https://www.ml-auto.by
    Translate this page
    Не знаете в каком магазине Минска купить автозапчасти по приемлемым ценам? Тогда Вам нужно в интернет-магазин автозапчастей www.ml-auto.by.

    ML AUTO - Didžiausia automobilių estetikos centras Lietuvojehttps://mlauto.lt
    Translate this page
    Teikiame kompleksines automobilių priežiūros paslaugas - tai patogus centras Jūsų automobiliui... poliravimas, salonų valymas, lyginimas be dažymo...
    ‎Kontaktai · ‎Paslaugos · ‎Kėbulo poliravimas
</h2>
<h1>
    запчасти в интернет-магазине ML-Auto | Минск ...https://www.ml-auto.by
    Translate this page
    Не знаете в каком магазине Минска купить автозапчасти по приемлемым ценам? Тогда Вам нужно в интернет-магазин автозапчастей www.ml-auto.by.

    ML AUTO - Didžiausia automobilių estetikos centras Lietuvojehttps://mlauto.lt
    Translate this page
    Teikiame kompleksines automobilių priežiūros paslaugas - tai patogus centras Jūsų automobiliui... poliravimas, salonų valymas, lyginimas be dažymo...
    ‎Kontaktai · ‎Paslaugos · ‎Kėbulo poliravimas
</h1>